$scheme-icons: (('link', 'link', 'svg'), ('arrow-down', 'arrow-down', 'svg'), ('arrow-right', 'arrow-right', 'svg'), ('graphic', 'graphic', 'svg'), ('grow', 'grow', 'svg'), ('logo', 'logo', 'svg'), ('metamask', 'metamask', 'svg'), ('user', 'user', 'svg'), ('dollar', 'dollar', 'svg'), ('attention', 'attention', 'svg'), ('walletconnect', 'wallet-connect', 'svg'));
$scheme-icons-mask: (('coins-green', 'coins', 'svg'), ('coins-gray', 'coins', 'svg'), ('info-orange', 'info', 'svg'), ('info-gray', 'info', 'svg'));

// @include theme('dark', $scheme-icons);
@include theme('white', $scheme-icons);
@include theme-mask($scheme-icons-mask);

.icon {
  &:before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &-flex {
    display: flex;
    align-items: center;
    width: max-content;
  }

  &-metamask {
    @include before-img(block, 50px, 50px, r) {
      padding: 8px;
      border-radius: 16px;
      background-size: 34px 34px;
      margin-left: 15px;
      background-color: var(--icon-metamask-background-color);
    }
  }

  &-walletconnect {
    @include before-img(block, 50px, 50px, r) {
      padding: 8px;
      border-radius: 16px;
      background-size: 34px 34px;
      margin-left: 15px;
    }
  }

  &-link {
    @include before-img(block, 15px, 10px, r) {
      background-size: cover;
    }
  }

  &-arrow-down {
    @include before-img(block, 15px, 10px, r) {
      background-size: cover;
    }
  }

  &-arrow-right {
    @include before-img(block, 16px, 10px, r) {
      background-size: cover;
    }
  }

  &-coins-gray {
    @include before-img(block, 26px, 19px, r) {
      background-color: var(--icon-coins-gray-background-color);
    }
  }

  &-coins-green {
    @include before-img(block, 26px, 19px, r) {
      background-color: var(--icon-coins-green-background-color);
    }
  }

  &-info-gray {
    @include before-img(block, 18px, 19px, r) {
      background-color: var(--icon-info-gray-background-color);
    }
  }

  &-info-orange {
    @include before-img(block, 18px, 19px, r) {
      background-color: var(--icon-info-orange-background-color);
    }
  }

  &-graphic {
    @include before-img(block, 29px, 16px, r) {
      background-size: cover;
    }
  }

  &-attention {
    @include before-img(block, 19px, 17px, r) {
      background-size: cover;
    }
  }

  &-grow {
    @include before-img(block, 20px, 24px, r) {
      background-size: cover;
    }
  }

  &-user {
    @include before-img(block, 24px, 24px, r) {
      background-size: cover;
    }
  }

  &-logo {
    @include before-img(block, 50px, 30px, r) {
      background-size: cover;
    }
  }

  &-dollar {
    @include before-img(block, 24px, 24px, r) {
      background-size: cover;
    }
  }
}
